@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.name {
  border: 1px dotted rgb(22, 158, 17);
  font-size: 40px;
  font-family: "Londrina Shadow", cursive;
  font-weight: 500;
  background: linear-gradient(130deg, #e2df15, #ffffff, #5cff00);
  background-size: 200% 200%;
  border-radius: 7px;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
